@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme inline {
	/* Colors */
	--color-background: var(--background);
	--color-surface: var(--surface);
	--color-surface-muted: var(--surface-muted);
	--color-destructive: var(--destructive);
	--color-primary: var(--primary);

	--color-foreground: var(--foreground);
	--color-surface-muted-foreground: var(--surface-muted-foreground);
	--color-surface-muted-foreground-secondary: var(
		--surface-muted-foreground-secondary
	);

	--color-border: var(--border);
	--color-border-secondary: var(--border-secondary);

	/* Fonts */
	--font-display: 'Inter', 'sans-serif';
}

:root {
	--background: oklch(97.566% 0.00181 249.234);
	--surface: theme(--color-white);
	--surface-muted: theme(--color-slate-50);
	--destructive: theme(--color-white);
	--primary: #10b981;

	--foreground: theme(--color-slate-800);
	--surface-muted-foreground: theme(--color-slate-600);
	--surface-muted-foreground-secondary: theme(--color-slate-900);

	--border: theme(--color-slate-200);
	--border-secondary: theme(--color-white);
}

.dark {
	--background: oklch(21.009% 0.03179 264.678);
	--surface: theme(--color-slate-900);
	--surface-muted: oklch(27.808% 0.02963 256.871);
	--destructive: oklch(21.009% 0.03179 264.678);
	--primary: #10b981;

	--foreground: theme(--color-slate-100);
	--surface-muted-foreground: theme(--color-slate-400);
	--surface-muted-foreground-secondary: theme(--color-white);

	--border: theme(--color-slate-700);
	--border-secondary: theme(--color-slate-800);
}

@layer base {
	body {
		@apply bg-background text-foreground font-display;
	}
}
